.wrapper {
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  > span {
    position: unset !important;
  }

  & img {
    width: 100%;
    height: 100%;
    position: relative !important;
    height: unset !important;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.prevArrow {
  left: -23px;
}

.nextArrow {
  right: -4px;
}
